body {
	overflow: hidden;
	margin: 20px 20px 0 20px;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header_right {
			display: flex;
			#audio {
				margin-right: 20px;
				#audio-on {
					display: block;
				}
				#audio-off {
					display: none;
				}
			}
		}
	}
	.animas {
		width: 100%;
		#cylinder {
			margin: 0 auto;
			canvas {
				width: 100% !important;
			}
		}
	}

	.footer {
		height: 40px;
		background-color: #ffffff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1;
		.footer-contain {
			display: flex;
			.footer-item {
				margin-right: 20px;
				.a-item {
					text-decoration: none;
					color: black;
				}
			}
		}
	}
}
